/.idea/
/stack-bytes-apigw-lambda-s3/.idea/
/stack-bytes-lambda/volume/

/stack-bytes-apigw-lambda-s3/stack-bytes-init-hooks-lambda.iml
/stack-bytes-lambda/stack-bytes-lambda.iml
/stack-bytes-sdk/stack-bytes-sdk.iml
/stack-bytes-sdk/target/
/stack-bytes-lambda/target/


# FE dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
